<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.ADO.Properties.Settings.cnnADO2015" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Administrador\Documents\Visual Studio 2010\Projects\2015.LABIII.Clase10\BASE_DE_DATOS\ADO-2010.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>